---
import BlogLayout from "../layouts/BlogLayout.astro";
const pageTitle = "Blog Astro";
---

<BlogLayout pageTitle={pageTitle}>
  <h2>Esto es de prueba (sub2)</h2>
  <h1>Este texto es más grade?</h1>
</BlogLayout>