---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Página de inicio";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Mi impresionante subtítulo del blog</h2>
  <h1>Esto es una test desde la tablet</h1>
  <h3>Vamos aprobar como sería ahora hacer la descarga desde el ordenador</h3>
  </BaseLayout>