---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Página de inicio";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Mi impresionante subtítulo del blog</h2>
  <h1>Esto es una test desde la tablet</h1>
</BaseLayout>